<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>www.byte-space.net</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="topBar">

    <div class="refresh-button" id="refreshBtn">X</div>
    <div class="button-minimize" id="minimizeBtn"></div>
    <div class="button-close" id="closeBtn"></div>
   </div>
  <!-- Main content starts here: -->
  <div class="container">
    <div class="background">
      <div class="shape1"></div>
      <div class="shape2"></div>
      <div class="shape3"></div>
      <div class="color-shape1"></div>
    </div>
    <div class="glass">
      <div class="sidebar">
        <div class="profile-img">
          <img
            src="https://play-lh.googleusercontent.com/0oO5sAneb9lJP6l8c6DH4aj6f85qNpplQVHmPmbbBxAukDnlO7DarDW0b-kEIHa8SQ"
            alt="">
        </div>
        <div class="profile-name" data-id="#4611" id="profile-name">
          JuanMeister
        </div>
        <div class="profile-role">
          Administrator
        </div>
        <div class="profile-logout-button">
          <div class="profile-logout-text">WYLOGUJ</div>
        </div>
        <div class="profile-divider"></div>
        <!-- widgets -->
        <div class="widget-1">
          
          <h2 style="font-family: Poppins; font-weight: 300; margin-top: 50%;">
            👍 Napis 1
          </h2>
        </div>
        <div class="widget-2">
          <h2 style="font-family: Poppins; font-weight: 300; margin-top: 50%;">
            🙌 Napis 2
          </h2>
        </div>
        <div class="widget-3">
          <h2 style="font-family: Poppins; font-weight: 300; margin-top: 50%;">
            ✌ Napis 3
          </h2>
        </div>
        <div class="sidebar-divider"></div>
        <!-- slider -->
        <div class="slider">
          <div class="slider-content fade">
            <div class="slider-content-text-big">Lorem Ipsum</div>
            <div class="slider-content-text-small">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
            <div class="slider-content-button">
              <div class="slider-content-button-text">
                Lorem Ipsum
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="slider-dots">
        <div class="dot1"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
        <div class="dot4"></div>
        <div class="dot5"></div>
      </div>
    </div>
  </div>
  </div>
  <script defer type="text/javascript" src="js/appFunctions.js"></script>
  <script defer type="text/javascript" src="js/slider.js"></script>
</body>

</html>